body {
    background-color: #11001F;  
}

html {
    height: 100%;
    width: 100%;
}

#editform{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: rgb(59, 59, 59);
    color: white;
    padding: 30px;
    gap: 19px;
    border: white 1px solid;
    width: 80%;
    height: 50%;
} 

#add {
    display: flex;
    align-items: center;
    justify-content: center;
}

#add button {
    width: 20vh;
    height: 5vh;
    font-size: 2vh;
    cursor: pointer;
    padding: 10px;
    border-radius: 20px; 

      
}
#add button:hover {
    background-color: #5a5959;
    color: white;
    translate: 1px 1px;
}

input{
    height: 4vh;
    font-size: 2vh;
    color: white;
    padding: 5px;
    border: none;
    border-bottom: 2px solid white;
    background-color: transparent;
}
input:focus{   
    outline: none;
}

#avatar{
    border-bottom: none;
}

#group {
  position: relative;
}

#group label {
  position: absolute;
  left: 5px;
  top: 10px;
  color: gray;
  font-size: 18px;
  pointer-events: none;
  transition: 0.3s ease;
}
#group input:focus + label,
#group input:not(:placeholder-shown) + label {
  top: -10px;
  font-size: 1.5vh;
  color: #337ab7; 
}
#group input:focus {
  border-bottom-color:#337ab7;
  transition: border-bottom-color 0.3s ease-in
}



