body {
    background-color: #11001F;  
}

html {
    height: 100%;
    width: 100%;
}

#editform{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: rgb(59, 59, 59);
    color: white;
    padding: 20px;
    gap: 10px;
    border: white 1px solid;
    width: 80%;
    height: 50%;
} 

label {
    font-size: 2vh;
    color: white;
}
#add {
    display: flex;
    align-items: center;
    justify-content: center;
}

#add button {
    width: 20vh;
    height: 5vh;
    font-size: 2vh;
    cursor: pointer;
    padding: 10px 20px;   
}
#add button:hover {
    background-color: #5a5959;
    color: white;
    translate: 1px 1px;
}

input{
    height: 4vh;
    font-size: 2vh;
    padding: 5px;
}