h1, h2, h3, h4{
color: rgb(98, 0, 128);
font-family: 'Ovo';
}
p{
color: coral;
}

ul{
list-style-image: url('pics/pointer-icon.png');
}

ol{
list-style-type: upper-roman;
}

#s a{
font-family : 'Ovo  ';
text-decoration : none;
background-color: rgb(138, 176, 214);
padding : 5px;
color:blue;
}
#s a:hover{
background-color: rgb(96, 59, 59);
color : #ffffff;
}

div#b{
    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

div#img{
    grid-row: 3;
}
img{
    width: 200px;
    height: auto;
    border-radius: 10px;
}

div#links{
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid black;
    border-radius: 20px;
    gap: 70px;
    padding: 10px;
    color: black;
}

body#b{
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}